	<section id="testimonial" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">see what patients are saying?</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
            <!-- User Image -->
            <a href="#"><img src="https://scontent.fmnl12-1.fna.fbcdn.net/v/t1.0-9/13000176_1268261026537418_6375595450661427325_n.jpg?oh=1d2f862799df3a37e8a454ef0c4a6f10&oe=5A35822D" alt="" class="avatar"></a>
						<!-- User Name -->
						<!-- <h3>Alex<span>Texas</span></h3> -->
					</div>
				</div>
			    <div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="https://scontent.fmnl12-1.fna.fbcdn.net/v/t1.0-9/13055435_1189145877776628_6068072549942460355_n.jpg?oh=e5cecbe366c2ab210aecc096956e98a4&oe=5A04E3EA" alt="" class="avatar"></a>
						<!-- User Name -->
						<!-- <h3>Alex<span>Texas</span></h3> -->
					</div>
				</div>
			    <div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="https://scontent.fmnl12-1.fna.fbcdn.net/v/t1.0-9/10390494_10152432637197208_5477471518775435647_n.jpg?oh=d20ac2ef723bd4d3589ca523c4480bdd&oe=59F6EB8D" alt="" class="avatar"></a>
						<!-- User Name -->
						<!-- <h3>Alex<span>Texas</span></h3> -->
					</div>
				</div>
			</div>
		</div>
	</section>