<div class="form-group">
  <input type="text" placeholder="Address, City, Province, Zip..." class="form-control">
</div>

<div class="form-group">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ selectedSpecialty }}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a (click)="onSelectedSpecialty('Neurologist')" href="#">Neurologist</a></li>
      <li><a (click)="onSelectedSpecialty('EENT')" href="#">EENT</a></li>
      <li><a (click)="onSelectedSpecialty('Dermatologist')"href="#">Dermatologist</a></li>
    </ul>
  </div>
</div>

<button type="button" class="btn btn-cancel pull-right" data-dismiss="modal">Cancel</button>
<button type="button" class="btn btn-next pull-right" (click)="moveNext()">Proceed</button>